{% extends '_layouts/detail.njk' %}
{% block page_title %}It Was A Dark and Stormy Night{% endblock %}
{% block story %}
  <h2>Fear the Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Today was a good day! We all got over yesterday's fight and had a good time playing cards.Afther that, we managed to find a treasure map! Looks like we are going to be busy these next couple of weeks!</p>
  <img src="img/kraken02.jpg" class="img-fluid" alt="Responsive image">
{% endblock %}