{% extends '_layouts/base.njk' %}

{% block page_title %}Pirate Cove Website For Sailors{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Pirate's Log</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Welcome to the Pirates Log! Here you can read about the exciting things pirates saw and did while they sailed across the seven seas! Find a journal entry below and learn more about the lives of your favorite pirates! ENJOY! 
      </p>
    {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
